@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  height: 731px;
  width: 100%;
  background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg');
  background-position: center;
  background-size: cover;
  background-position-y: 45.5%;
}

.header {
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 32px;
  margin-right: 3%;
}

nav {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

h4 {
  margin-right: 9%;
}